<main>
    <div class="login-container">
        <mat-toolbar class="mat-primary" color="primary">
            Sign in
        </mat-toolbar>

        <form [formGroup]="form" (ngSubmit)="onLogin()" autocomplete="off" novalidate>
            <mat-form-field floatPlaceholder="always">
                <input formControlName="username" matInput placeholder="Username" [required]="true" type="text" />
            </mat-form-field>

            <mat-form-field floatPlaceholder="always">
                <input formControlName="password" matInput placeholder="Password" [required]="true" type="password" />
            </mat-form-field>

            <div class="button-container">
                <button class="mat-primary" aria-label="login" mat-raised-button type="submit">Sign In</button>
            </div>
        </form>
    </div>
</main>
