@import "~styles/theme/index";
main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .login-container {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        height: initial;
        min-height: initial;
        width: 60%;
        max-width: 700px;
        background: $white;
        form {
            margin: 20px;
        }
        mat-form-field {
            width: 100%;
            margin-top: 20px;
        }
        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px $white inset;
        }
        .button-container {
            text-align: center;
        }
    }
}
