.g-no-data {
	width: 100%;
	text-align: center;
	padding: 20px;
	font-weight: bold;
	font-size: 1.5em;
	color: #9f9f9f;
}

.g-grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
}