// @mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
// 	@font-face {
// 		font-family: $font-family;
// 		font-weight: $weight;
// 		font-style: $style;
// 		src: url('#{$file-path}.otf');
// 		src: url('#{$file-path}.otf?#iefix') format('opentype'), url('#{$file-path}.woff') format('woff');
// 	}
// }

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/material/MaterialIcons-Regular.eot');
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url('/assets/fonts/material/MaterialIcons-Regular.woff2') format('woff2'), url('/assets/fonts/material/MaterialIcons-Regular.woff') format('woff'), url('/assets/fonts/material/MaterialIcons-Regular.ttf') format('truetype');
}