@import '~@angular/material/theming';
@include mat-core();
$primary: ( 50: #E9F1FF, 100: #C8DBFF, 200: #A3C3FF, 300: #7EABFF, 400: #6399FF, 500: #1d496c, 600: #407FFF, 700: #3774FF, 800: #2F6AFF, 900: #2057FF, A100: #FFFFFF, A200: #FFFFFF, A400: #CFDAFF, A700: #B6C6FF, contrast: ( 50: $black-87-opacity, 100: $black-87-opacity, 200: $black-87-opacity, 300: $black-87-opacity, 400: $black-87-opacity, 500: white, 600: white, 700: white, 800: $white-87-opacity, 900: $white-87-opacity, A100: $black-87-opacity, A200: white, A400: white, A700: white, ));
$accent: ( 50: #aaa, 100: #999, 200: #777, 300: #666, 400: #555, 500: #000, 600: #333, 700: #222, 800: #111, 900: #000, A100: #ffffff, A200: #ffffff, A400: #cfdaff, A700: #b6c6ff, contrast: ( 50: $black-87-opacity, 100: $black-87-opacity, 200: $black-87-opacity, 300: $black-87-opacity, 400: $black-87-opacity, 500: white, 600: white, 700: white, 800: $white-87-opacity, 900: $white-87-opacity, A100: $black-87-opacity, A200: white, A400: white, A700: white, ));
$warn: ( 50: #ffebe4, 100: #ffcdbd, 200: #ffab91, 300: #fe8964, 400: #fe7043, 500: #F80000, 600: #fe4f1e, 700: #fe4619, 800: #fe3c14, 900: #fd2c0c, A100: #ffffff, A200: #fff5f4, A400: #ffc7c1, A700: #ffb0a7, contrast: ( 50: $black-87-opacity, 100: $black-87-opacity, 200: $black-87-opacity, 300: $black-87-opacity, 400: $black-87-opacity, 500: white, 600: white, 700: white, 800: $white-87-opacity, 900: $white-87-opacity, A100: $black-87-opacity, A200: white, A400: white, A700: white, ));
//create palettes
$app-primary: mat-palette($primary);
$app-accent: mat-palette($accent);
$app-warn: mat-palette($warn);
// $app-primary: mat-palette($mat-blue, 500, 100, 700);
// $app-accent:  mat-palette($mat-deep-purple, 500, 100, 700);
// $app-warn:    mat-palette($mat-red, 800);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/material/MaterialIcons-Regular.eot');
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url('/assets/fonts/material/MaterialIcons-Regular.woff2') format('woff2'), url('/assets/fonts/material/MaterialIcons-Regular.woff') format('woff'), url('/assets/fonts/material/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

// $primary: ( 50: #e9f1ff, 100: #c8dbff, 200: #a3c3ff, 300: #7eabff, 400: #6399ff, 500: #006BFA, 600: #407fff, 700: #3774ff, 800: #2f6aff, 900: #2057ff, A100: #ffffff, A200: #ffffff, A400: #cfdaff, A700: #b6c6ff, contrast: ( 50: $black-87-opacity, 100: $black-87-opacity, 200: $black-87-opacity, 300: $black-87-opacity, 400: $black-87-opacity, 500: white, 600: white, 700: white, 800: $white-87-opacity, 900: $white-87-opacity, A100: $black-87-opacity, A200: white, A400: white, A700: white, ));