@import "~styles/theme/index";
$card-width: 300px;
form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    button:nth-of-type(1) {
        margin-right: 10px;
    }
}

.media {
    .photo-wrap {
        width: 100%;
        height: $card-width;
        display: flex;
        justify-content: center;
        align-items: center;
        background: darken($gray1, 10%);
        margin-top: 10px;
        .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            cursor: pointer;
            mat-icon {
                font-size: 36px;
                width: 36px;
                height: 36px;
            }
        }
        bookstore-upload-button {
            width: 100%;
            height: 100%;
        }
        .photo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}