<h2 mat-dialog-title>{{key ? 'Update key' : 'Add new key'}}</h2>
<form [formGroup]="form" novalidate autocomplete="off" (submit)="onSubmit()">
    <mat-form-field>
        <input formControlName="key" matInput placeholder="Key" />
        <mat-error>
            {{form.controls['key'].errors && 'Required field'}}
        </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="!isMedia">
        <textarea formControlName="value" matInput minRows="6" placeholder="Value"></textarea>
        <mat-error>
            {{form.get('value')?.errors && 'Required field'}}
        </mat-error>
    </mat-form-field>
    <div *ngIf="isMedia" class="media">
        <div class="row">
            <div class="photo-wrap">
                <bookstore-upload-button [supportedFormats]="supportedFormats" (onFileChanged)="form.controls['value'].setValue($event)"
                    folder="media" (isloadingEvent)="isLoading = $event">
                    <div class="img-container">
                        <img [src]="photo | apiUrl" class="photo" *ngIf="form.controls['value'].value as photo">
                        <mat-icon class="no-photo" *ngIf="!form.controls['value'].value">add_a_photo</mat-icon>
                    </div>
                </bookstore-upload-button>
            </div>
        </div>
    </div>

    <div class="btn-container">
        <button [disabled]="isLoading" mat-raised-button color="primary" type="submit">{{isNew ? 'Create' : 'Update'}}</button>
        <button [disabled]="isLoading" mat-raised-button color="accent" type="button" mat-dialog-close>Cancel</button>
    </div>
</form>