@import "~styles/theme/index";
mat-card {
    .title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        mat-icon {
            cursor: pointer;
        }
    }
    .photo-wrap {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: darken($gray1, 10%);
        margin-bottom: 20px;
        .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            cursor: pointer;
        }
        bookstore-upload-button {
            width: 100%;
            height: 100%;
        }
        .photo {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
        .no-photo {
            mat-icon {
                font-size: 32px;
                width: 32px;
                height: 32px;
            }
        }
    }
    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        mat-checkbox {
            margin-bottom: 20px;
        }
        .btn-container {
            width: 100%;
            display: flex;
            justify-content: center;
            height: 40px;
            button:not(:last-of-type) {
                margin-right: 20px;
            }
        }
    }
}