<mat-card *ngIf="form">
    <div class="title">
        <h3>{{form.controls['label'].value || 'New technology'}}</h3>
        <mat-icon (click)="delete.emit(technology._id)">close</mat-icon>
    </div>

    <div class="photo-wrap">
        <bookstore-upload-button #uploader [supportedFormats]="imgTypes" (onFileChanged)="onFileSelected($event)" folder="technologies">
            <div class="img-container">
                <img [src]="icon | apiUrl" class="photo" *ngIf="form.controls['icon'].value as icon">
                <mat-icon color="primary" class="no-photo" *ngIf="!form.controls['icon'].value">add_a_photo</mat-icon>
            </div>
        </bookstore-upload-button>
    </div>

    <form class="content" [formGroup]="form" (submit)="onUpdateTechnology()" novalidate="true">
        <mat-form-field>
            <input formControlName="label" matInput autocomplete="off" placeholder="Label" [maxlength]="30">
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Group" formControlName="group">
                <mat-option *ngFor="let group of [TechnologyGroup.Backend, TechnologyGroup.Frontend]" [value]="group">
                    {{group | technologyGroup}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-checkbox formControlName="showOnHomepage" color="primary">Show on homepage</mat-checkbox>

        <div class="btn-container">
            <button *ngIf="isAnyChanges" [@fadeInOut] mat-raised-button color="primary" type="submit">Save</button>
            <button *ngIf="isAnyChanges" [@fadeInOut] mat-raised-button (click)="onCancel()">Cancel</button>
        </div>
    </form>
</mat-card>