<h2 mat-dialog-title>Add email</h2>
<form [formGroup]="form"
      novalidate
      autocomplete="off"
      (submit)="onSubmit()">
    <mat-form-field>
        <input formControlName="email"
               matInput
               placeholder="Email">
        <mat-error *ngIf="form.controls['email'].errors && form.controls['email'].errors.required">
            Required field
        </mat-error>
        <mat-error *ngIf="form.controls['email'].errors && form.controls['email'].errors.email">
            Incorrect email
        </mat-error>
        <mat-error *ngIf="form.controls['email'].errors && form.controls['email'].errors.exist">
            Duplicate email
        </mat-error>
    </mat-form-field>
    <div class="btn-container">
        <button mat-raised-button
                color="primary"
                type="submit">
            Add
        </button>
        <button mat-raised-button
                color="accent"
                type="button"
                mat-dialog-close>
            Cancel
        </button>
    </div>
</form>