form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    button:nth-of-type(1) {
        margin-right: 20px;
    }
}