<mat-expansion-panel #panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-checkbox class="checkbox" [disableRipple]="true" [checked]="showOnSite" (click)="stopProp($event)"
                (change)="toggleShowOnSite($event)" matTooltip="Show on site">&nbsp;</mat-checkbox>
            <span>{{data?.author}} : {{ data?.title }}</span>
        </mat-panel-title>
        <mat-panel-description class="header-descr">
            <span>
            </span>
            <button>
                <mat-icon matTooltip="Delete book" (click)="onDelete($event)">clear</mat-icon>
            </button>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <form *ngIf="form" [formGroup]="form" autocomplete="off" (submit)="onSubmit()">
        <div class="form-first-panel">

            <div class="editor-input">
                <div>
                    <h4 class="label">author:</h4>
                </div>
                <mat-form-field floatLabel="never">
                    <input type="text" required matInput formControlName="author" [value]="data?.author">
                </mat-form-field>
            </div>
            <div class="editor-input">
                <div>
                    <h4 class="label">title:</h4>
                </div>
                <mat-form-field floatLabel="never">
                    <input type="text" required matInput formControlName="title" [value]="data?.title">
                </mat-form-field>
            </div>
            <div class="editor-input">
                <div>
                    <h4 class="label">price:</h4>
                </div>
                <mat-form-field floatLabel="never">
                    <input type="text" required matInput formControlName="price" [value]="data?.price">
                </mat-form-field>
            </div>
        </div>

        <div class="editor-input image">
            <div>
                <h4 class="label">image:</h4>
                <div  class="preview-container">
                    <img *ngIf="previewUrl" [src]="previewUrl" class="mat-elevation-z8" />
                </div>
                <div class="upload-container">
    
                    <bookstore-upload-button (onFileChanged)='onFileChanged($event)' folder="books" icon="add_a_photo"
                        color="black"></bookstore-upload-button>
                </div>
            </div>
        </div>
        <div class="editor-input description">
            <div>
                <h4 class="label">description:</h4>
            </div>
            <mat-form-field floatLabel="never">
                <textarea required matInput formControlName="description" [value]="data?.description"></textarea>
            </mat-form-field>
        </div>
        <div class="form-buttons">
            <button mat-raised-button color="primary" type="button" (click)="onReset()">
                <mat-icon>replay</mat-icon>
            </button>
            <button mat-raised-button color="primary">
                <mat-icon>done</mat-icon>
            </button>
        </div>
    </form>

</mat-expansion-panel>