@import "~styles/theme/index";
/deep/ mat-expansion-panel {
    mat-expansion-panel-header {
        min-height: 64px;
    }
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    align-items: center;
}

.checkbox {
    margin-right: 10px;
}

.required {
    color: darken($gray1, 30%);
    font-size: 0.8rem;
}

.header-descr {
    display: flex;
    justify-content: space-between;
    button {
        border: none;
        padding: 0;
        margin-top: 5px;
        background: none;
        margin-right: 10px;
    }
    mat-icon {
        font-size: 16px;
        height: 16px;
        color: $blue2;
        width: 16px;
    }
}


form {
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    .editor-input {
        width: 30%;
        mat-form-field {
            width: 100%;
        }
    }
    mat-form-field.ng-dirty {
        color: $blue1;
    }
    .editor-input.description {
        width: 65%;
        margin-left: auto;
        textarea {
            height: 120px;
            padding-top: 2px;
        }
    }
    .form-first-panel {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .form-buttons{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        button {
            width: 10%;
            &:first-child{
                margin-right: 2%;
            }
        }
    }
    .preview-container{
        width: 100%;
        display: flex;
        justify-content: center;
        img {
            max-width: 100%;
            margin-bottom: 16px;
            object-fit: contain;
        }
    }
    bookstore-upload-button {
        mat-icon {
            font-size: 32px;
            width: 32px;
            height: 32px;
        }
    }
}