<div class="dialog-container">
    <!-- <h2 mat-dialog-title>{{title}}</h2>
        <div class="dialog-content">{{content}}</div>
        <div class="btn-container">
            <button mat-raised-button color="primary" [mat-dialog-close]="value || true">Yes</button>
            <button mat-raised-button color="accent" mat-dialog-close>No</button>
        </div> -->
    <h2 mat-dialog-title>Add New Book:</h2>
    <form *ngIf="form" [formGroup]="form" autocomplete="off" (submit)="onSubmit()">
        <div class="editor-input image">
            <h4 class="label">image:</h4>
            <div  class="preview-container">
                <img *ngIf="previewUrl" [src]="previewUrl" class="mat-elevation-z8" />
            </div>
            <div class="upload-container">

                <bookstore-upload-button (onFileChanged)='onFileChanged($event)' folder="books" icon="add_a_photo"
                    color="black"></bookstore-upload-button>
            </div>
            <!-- <mat-form-field floatLabel="never">
                <input type="text" required matInput formControlName="img">
            </mat-form-field> -->
        </div>
        <div class="editor-input">
            <div>
                <h4 class="label">author:</h4>
            </div>
            <mat-form-field floatLabel="never">
                <input type="text" required matInput formControlName="author">
            </mat-form-field>
        </div>
        <div class="editor-input">
            <div>
                <h4 class="label">title:</h4>
            </div>
            <mat-form-field floatLabel="never">
                <input type="text" required matInput formControlName="title">
            </mat-form-field>
        </div>
        <div class="editor-input">
            <div>
                <h4 class="label">price:</h4>
            </div>
            <mat-form-field floatLabel="never">
                <input type="number" required matInput formControlName="price">
            </mat-form-field>
        </div>

        <div class="editor-input description">
            <div>
                <h4 class="label">description:</h4>
            </div>
            <mat-form-field floatLabel="never">
                <textarea required matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>
        <div class="form-buttons">
            <button mat-raised-button color="primary" type="button" mat-dialog-close>
                <mat-icon>not_interested</mat-icon>
            </button>
            <button mat-raised-button color="primary" type="button" (click)="onReset()">
                <mat-icon>replay</mat-icon>
            </button>
            <button #submitButton mat-raised-button color="primary">
                <mat-icon>done</mat-icon>
            </button>

        </div>
    </form>
</div>