@import "~styles/theme/index";
.dialog-container {
    width: 500px;
    position: relative;
    mat-form-field {
        width: 100%;
    }
    .form-buttons {
        display: flex;
        justify-content: flex-end;
        button:not(:first-child) {
            margin-left: 12px;
        }
    }
    .dialog-content {
        padding-bottom: 20px;
    } // bookstore-upload-button {
    //     // background: $gray1;
    //     // width: 32px;
    // }
    .upload-container {
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .preview-container {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
            max-height: 200px;
            max-width: 100%;
            margin-bottom: 8px;
        }
    }
}