<section *ngIf="isLoading$ | async" [@fadeIn] class="no-padding">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</section>
<section [@fadeIn] *ngIf="!(isLoading$ | async)">
    <ng-template [ngIf]="emails$  | async">
        <div class="email-editor-container">
            <mat-card>
                <h3>Emails</h3>
                <div class="emails-container">
                    <div class="email-item" *ngFor="let email of emails$ | async" (click)="onDeleteItem(email)"
                        matTooltip="Delete email">
                        <span>{{email}}</span>
                    </div>

                    <div class="add-btn" matTooltip="Add new email" (click)="onAddEmail()">
                        <mat-icon>add</mat-icon>
                    </div>
                </div>

            </mat-card>
        </div>
    </ng-template>

    <mat-table *ngIf="(feedbacks$ | async)?.length" [dataSource]="feedbacks$ | async" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="message">
            <mat-header-cell *matHeaderCellDef> Message </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.message}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="file">
            <mat-header-cell *matHeaderCellDef> File </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-icon *ngIf="element.file" (click)="onDownloadFile(element)">attach_file</mat-icon>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-icon (click)="onDeleteFeedback(element._id, $event)">close</mat-icon>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</section>