@import "~styles/theme/index";
.email-editor-container {
    padding: 20px 20px 0 20px;
    mat-card {
        display: flex;
        flex-direction: column;
        h3 {
            color: $blue3;
            flex-basis: 100%;
            text-transform: uppercase;
            font-weight: bold;
            position: relative;
            margin-bottom: 20px;
        }
        .emails-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .email-item,
            .add-btn {
                background: #1d496c;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                cursor: pointer;
            }
            .add-btn {
                width: 40px;
                border-radius: 50%;
            }
            .email-item {
                min-width: 100px;
                margin-right: 15px;
                padding: 0 15px;
                border-radius: 20px;
            }
        }
       
    }
}

mat-table {
    margin: 20px;
}

mat-icon {
    cursor: pointer;
}

.mat-column-delete {
    max-width: 60px;
}