@import "~styles/theme/index";
.employee-editor {
    background-color: #fff;
    padding: 20px;
    position: relative;
    @include shadow;
    .row {
        margin: -20px -20px 0 -20px;
        &_space {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }
    }
    .employee__name {
        font-weight: bold;
        font-size: 1.15em;
        width: 80%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .delete {
        cursor: pointer;
        border: none;
        background: none;
        padding: 3px;
    }
    .photo-wrap {
        width: calc(100% - 40px);
        margin: 20px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: darken($gray1, 10%);
        position: relative;
        .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            cursor: pointer;
            mat-icon {
                font-size: 32px;
                width: 32px;
                height: 32px;
            }
        }
        upload-button {
            width: 100%;
            height: 100%;
        }
        .photo {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
    .field {
        width: 100%;
        margin-bottom: 10px;
        &_space {
            display: flex;
            justify-content: space-between;
        }
        &__area {
            height: 80px;
            resize: none;
        }
    }
    .btn-container {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 40px;
        button:not(:last-of-type) {
            margin-right: 20px;
        }
    }
}