<div class="employee-editor" *ngIf="form">
    <form [formGroup]="form" (submit)="onSubmit()" autocomplete="off">
        <div class="row row_space">
            <div class="employee__name">{{ form.get('firstName')?.value }} {{ form.get('lastName')?.value }}</div>
            <button type="button" class="delete" (click)="delete.emit(data._id)" matTooltip="Delete team member">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
        <div class="row">
            <div class="photo-wrap">
                <bookstore-upload-button [supportedFormats]="imgTypes" folder="media" (onFileChanged)="onFileChanged($event)">
                    <div class="img-container">
                        <img [src]="photo | apiUrl" class="photo" *ngIf="form.controls['value'].value as photo">
                        <mat-icon class="no-photo" color="primary" *ngIf="!form.controls['value'].value">add_a_photo</mat-icon>
                    </div>
                </bookstore-upload-button>
            </div>
        </div>

        <mat-form-field class="field">
            <input type="text" matInput formControlName="key" placeholder="Key">
            <mat-error>{{ form.get('key')?.errors | formError }}</mat-error>
        </mat-form-field>

        <mat-form-field class="field">
            <input type="text" matInput formControlName="alt" placeholder="Alt">
            <mat-error>{{ form.get('alt')?.errors | formError }}</mat-error>
        </mat-form-field>

        <div class="btn-container">
            <button *ngIf="form.dirty" [@fadeInOut] mat-raised-button color="primary" type="submit">Save</button>
            <button *ngIf="form.dirty" [@fadeInOut] mat-raised-button type="button" (click)="onCancel()">Cancel</button>
        </div>
    </form>
</div>
<div *ngIf="!form">Can't load media item</div>
