@import "~styles/theme/index";

.header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    height: 80px;

    button {
        height: 40px;
        padding: 0 20px;

        mat-icon {
            margin-right: 10px;
        }
    }
}

.table {
    padding: 0 20px;
    width: 100%;
    margin-bottom: 20px;

    mat-row {
        cursor: pointer;

        &:hover {
            background-color: #efecec;
        }
    }

    .mat-column-delete,
    .mat-column-status-icon {
        max-width: 60px;
    }

    .mat-column-indexing,
    .mat-column-following {
        max-width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;

        mat-icon {
            &.red {
                color: red;
            }

            &.green {
                color: #19e619;
            }
        }
    }

    .og-image {
        height: 40px;
        margin-right: 20px;
    }

    .web-tools-image {
        height: 30px;
        margin-right: 20px;
    }

    .status-icon {
        width: 8px;
        height: 8px;
        border-radius: 50%;

        &.green {
            background: #19e619;
        }

        &.red {
            background: red;
        }

        &.orange {
            background: orange;
        }
    }
}
