<section *ngIf="isLoading$ | async" [@fadeIn] class="no-padding">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</section>
<section [@fadeIn] *ngIf="!(isLoading$ | async)">
    <div class="header">
        <button mat-raised-button color="primary" (click)="onCreateSettings()">
            <mat-icon>add</mat-icon> Add new page
        </button>
        <div class="search">
            <form autocomplete="off">
                <mat-form-field>
                    <span matPrefix>
                        <mat-icon>search</mat-icon>
                    </span>
                    <input type="text" #search matInput autocomplete="off">
                </mat-form-field>
            </form>
        </div>
    </div>

    <div class="table" *ngIf="(settings$ | async)?.length">
        <mat-table [dataSource]="settings$ | async | seoFilterPipe:search.value" class="mat-elevation-z8">

            <ng-container matColumnDef="status-icon">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span *ngIf="element.statusCode === PageStatusCode.OK" class="status-icon green"></span>
                    <span *ngIf="element.statusCode === PageStatusCode.MOVED_PERMANENTLY" class="status-icon orange"></span>
                    <span *ngIf="element.statusCode === PageStatusCode.NOT_FOUND" class="status-icon red"></span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="label">
                <mat-header-cell *matHeaderCellDef> Label </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.label || 'New page'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="url">
                <mat-header-cell *matHeaderCellDef> Url </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span>
                        {{element.url}}
                    </span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Status code </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span>
                        {{element.statusCode}}
                        <span *ngIf="element.redirectUrl"> ({{element.redirectUrl}})</span>
                    </span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="og">
                <mat-header-cell *matHeaderCellDef> Meta settings </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span>
                        <img class="og-image" *ngIf="element.values | seoActiveValue:(activeLanguage$ | async):'og' |ogPipe"
                            src="/assets/img/og-logo.png">
                    </span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="web-tools">
                <mat-header-cell *matHeaderCellDef> Web tools </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <img class="web-tools-image" *ngIf="element.googleSearchConsole" src="/assets/img/google-logo.png">
                    <img class="web-tools-image" *ngIf="element.yandexWebmaster" src="/assets/img/yandex-logo.png">
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="indexing">
                <mat-header-cell *matHeaderCellDef> Indexing </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-icon *ngIf="element.indexing" class="green">done</mat-icon>
                    <mat-icon *ngIf="!element.indexing" class="red">close</mat-icon>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="following">
                <mat-header-cell *matHeaderCellDef> Following links </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-icon *ngIf="element.followingLinks" class="green">done</mat-icon>
                    <mat-icon *ngIf="!element.followingLinks" class="red">close</mat-icon>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-icon (click)="onDeleteSettings(element._id, $event)">close</mat-icon>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onUpdateSettings(row)"></mat-row>
        </mat-table>
        <!-- <seo-editor *ngFor="let s of settings$ | async | seoFilterPipe:search" [settings]="s" [activeLanguage]="activeLanguage$ | async"
            (delete)="onDeleteSettings($event)" (update)="onUpdateSettings($event)"></seo-editor> -->
    </div>
</section>
