<section *ngIf="isLoading$ | async" [@fadeIn] class="no-padding">
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
</section>
<section [@fadeIn] *ngIf="!(isLoading$ | async)">
	<div class="row space">
		<button mat-raised-button color="primary" (click)="addTeamMember()">
			<mat-icon>add</mat-icon> Add new team member
		</button>
		<div class="search">
			<form autocomplete="off">
				<mat-form-field>
					<span matPrefix>
						<mat-icon>search</mat-icon>
					</span>
					<input type="text" matInput (keyup)="onSearch($event.target.value)">
				</mat-form-field>
			</form>
		</div>
	</div>
	<div class="row g-grid">
		<team-member *ngFor="let member of team$ | async | filterTeam:filter:(activeLang$ | async)" [data]="member" (update)="onUpdate($event)"
		 (delete)="onDelete($event)" [activeLanguage]="activeLang$ | async"></team-member>
	</div>
</section>