@import "~styles/theme/index";

div {
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        font-size: 26px;
        font-weight: bold;
        color: $blue2;
    }
}