<div class="employee-editor" *ngIf="form">
    <form [formGroup]="form" (submit)="onSubmit()" autocomplete="off">
        <div class="row row_space">
            <div class="employee__name">{{ form.get('firstName')?.value }} {{ form.get('lastName')?.value }}</div>
            <button type="button" class="delete" (click)="delete.emit(data._id)" matTooltip="Delete team member">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
        <div class="row">
            <div class="photo-wrap">
                <bookstore-upload-button [supportedFormats]="imgTypes" folder="team" (onFileChanged)="onFileChanged($event)">
                    <div class="img-container">
                        <img [src]="photo | apiUrl" class="photo" *ngIf="form.controls['photo'].value as photo">
                        <mat-icon class="no-photo" color="primary" *ngIf="!form.controls['photo'].value">add_a_photo</mat-icon>
                    </div>
                </bookstore-upload-button>
            </div>
        </div>
        <div class="field">
            <mat-slide-toggle color="primary" formControlName="showOnSite">Show on site</mat-slide-toggle>
        </div>
        <mat-form-field class="field">
            <mat-select formControlName="isHead" placeholder="Role">
                <mat-option [value]="true">Head of company</mat-option>
                <mat-option [value]="false">Team</mat-option>
            </mat-select>
            <mat-error>{{ form.get('isHead')?.errors }}</mat-error>
        </mat-form-field>
        <mat-form-field class="field">
            <input type="text" matInput formControlName="firstName" placeholder="First name" [maxlength]="20">
        </mat-form-field>
        <mat-form-field class="field">
            <input type="text" matInput formControlName="lastName" placeholder="Last name" [maxlength]="20">
        </mat-form-field>
        <mat-form-field class="field">
            <input type="text" matInput formControlName="position" placeholder="Position" [maxlength]="30">
        </mat-form-field>
        <mat-form-field class="field">
            <textarea matInput formControlName="description" class="field__area" placeholder="Description"></textarea>
        </mat-form-field>
        <div class="buttons" [class.hidden]="!form.dirty">
            <button mat-raised-button color="primary" type="submit">Save</button>
            <button mat-raised-button (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>
<div *ngIf="!form">Can't load team member</div>