<div class="title">
    <h2>{{form.controls['label'].value || 'New page'}}</h2>
    <mat-icon (click)="onClose()">close</mat-icon>
</div>

<form class="content" [formGroup]="form" (submit)="onUpdateSettings()" novalidate="true">
    <div>
        <mat-card class="left">
            <h3>General info</h3>
            <mat-form-field floatLabel="always">
                <input formControlName="label" matInput autocomplete="off" placeholder="Label">
            </mat-form-field>
            <mat-form-field floatLabel="always">
                <input formControlName="url" matInput autocomplete="off" placeholder="Url">
            </mat-form-field>
            <div class="status-container">
                <mat-form-field floatLabel="always">
                    <mat-select placeholder="Status code" formControlName="statusCode">
                        <mat-option *ngFor="let code of [PageStatusCode.OK, PageStatusCode.MOVED_PERMANENTLY, PageStatusCode.NOT_FOUND]"
                            [value]="code">
                            {{code}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field floatLabel="always">
                    <input formControlName="redirectUrl" matInput autocomplete="off" placeholder="Redirect url">
                </mat-form-field>
            </div>
            <mat-checkbox formControlName="indexing" color="primary">Indexing</mat-checkbox>
            <mat-checkbox formControlName="followingLinks" color="primary">Following links</mat-checkbox>
            <mat-checkbox [checked]="isWebtoolsVisible" color="primary" (change)="isWebtoolsVisible = $event.checked; clearWebtools()">Google
                Search Console / Yandex webmaster settings</mat-checkbox>
            <div class="web-tools" *ngIf="isWebtoolsVisible" [@fadeInOut]>
                <div class="google-search-console">
                    <img src="/assets/img/google-logo.png">
                    <mat-form-field floatLabel="always">
                        <input formControlName="googleSearchConsole" matInput autocomplete="off" placeholder="HTML Tag ID">
                    </mat-form-field>
                </div>
                <div class="yandex-wm">
                    <img src="/assets/img/yandex-logo.png">
                    <mat-form-field floatLabel="always">
                        <input formControlName="yandexWebmaster" matInput autocomplete="off" placeholder="HTML Tag ID">
                    </mat-form-field>
                </div>
            </div>
        </mat-card>
        <mat-card class="right">
            <div class="og-title">
                <h3>Meta settings</h3>
            </div>
            <div class="container">
                <div class="controls">
                    <mat-form-field floatLabel="always">
                        <input formControlName="title" matInput placeholder="Title">
                    </mat-form-field>
                    <mat-form-field floatLabel="always">
                        <textarea formControlName="keywords" matInput placeholder="Keywords"></textarea>
                    </mat-form-field>
                    <mat-form-field floatLabel="always">
                        <textarea formControlName="description" matInput placeholder="Description"></textarea>
                    </mat-form-field>
                </div>
                <div class="image">
                    <bookstore-upload-button [supportedFormats]="imgTypes" #uploader (onFileChanged)="form.get('image').setValue($event)"
                        folder="seo">
                        <div class="img-container">
                            <img [src]="photo | apiUrl" class="photo" *ngIf="form.get('image').value as photo">
                            <mat-icon class="no-photo" color="primary" *ngIf="!form.get('image').value">add_a_photo</mat-icon>
                        </div>
                    </bookstore-upload-button>
                </div>
            </div>
        </mat-card>
    </div>


    <div class="btn-container">
        <button mat-raised-button color="primary" type="submit">Save</button>
        <button mat-raised-button (click)="onReset()" type="button">Reset</button>
    </div>
</form>
