@import "~styles/theme/index";

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    mat-icon {
        cursor: pointer;
    }
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;

    >div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .left,
    .right {
        h3 {
            margin-bottom: 10px;
        }

        display: flex;
        flex-direction: column;
    }

    .left {
        margin-right: 20px;
        width: 40%;

        h3 {
            margin-bottom: 20px;
        }

        .status-container {
            width: 100%;
            display: flex;

            mat-form-field {
                &:first-of-type {
                    width: 100px;
                    margin-right: 20px;
                }

                &:last-of-type {
                    width: 100%;
                }
            }

        }

        mat-checkbox {
            margin-bottom: 10px;
        }

        .web-tools {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            .google-search-console,
            .yandex-wm {
                height: 60px;
                width: 100%;
                display: flex;
                align-items: center;

                img {
                    object-fit: contain;
                    height: 30px;

                }

                mat-form-field {
                    width: 100%;
                }
            }

            .google-search-console {
                margin-right: 20px;
            }

            .google-search-console img {
                margin-right: 24px;
            }

            .yandex-wm img {
                margin-right: 10px;
            }
        }
    }

    .right {
        width: 60%;

        .og-title {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 20px;

            h3,
            img {
                margin-right: 20px;
            }

            .image {
                width: 30px;
                margin-right: 20px;
                position: relative;
                border-bottom: 4px solid transparent;
                transition: .3s ease-in-out;

                img {
                    cursor: pointer;
                    object-fit: contain;
                    width: 100%;
                    height: 250px;
                }

                &:after {
                    display: block;
                    content: "";
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    border-radius: 50%;
                    background: transparent;
                }

                &.active {
                    &:after {
                        background: #19e619;
                    }
                }
            }

        }

        .container {
            display: flex;
            flex-direction: column;

            .controls {
                width: 100%;
                margin-right: 20px;
                margin-bottom: 20px;

                mat-form-field {
                    width: 100%;
                }
            }

            .image {
                width: 100%;
                height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: darken($gray1, 10%);
                position: relative;

                .delete {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    cursor: pointer;
                    background-color: #ffffff59;
                    border-radius: 50%;
                    transition: .3s;

                    &:hover {
                        background-color: white;
                        transition: .3s;
                    }
                }

                .img-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    cursor: pointer;

                    mat-icon {
                        font-size: 32px;
                        width: 32px;
                        height: 32px;
                    }

                    img {
                        height: 250px;
                    }
                }

                upload-button {
                    width: 100%;
                    height: 100%;
                }

                .photo {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }
        }
    }

    .photo-wrap {
        width: 100%;
        height: 100%;
        max-height: 312px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: darken($gray1, 10%);
        position: relative;

        .delete {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            background-color: #ffffff59;
            border-radius: 50%;
            transition: .3s;

            &:hover {
                background-color: white;
                transition: .3s;
            }
        }

        .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            cursor: pointer;

            mat-icon {
                font-size: 32px;
                width: 32px;
                height: 32px;
            }
        }

        upload-button {
            width: 100%;
            height: 100%;
        }

        .photo {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }



    .btn-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        height: 40px;
        margin-bottom: 0;

        button:not(:last-of-type) {
            margin-right: 20px;
        }
    }
}
