<div class="team-selector">
    <ul class="team-list">
        <li *ngFor="let member of data" class="team-list__item" (click)="onSelect(member)">
            <div class="team-list__photo-wrap">
                <img *ngIf="member.photo" [src]="member.photo | apiUrl" alt="photo" class="team-list__photo">
                <span *ngIf="!member.photo" class="team-list__no-photo">No photo</span>
            </div>
            <div class="team-list__descr">
                <span class="team-list__name">{{ member.firstName }} {{ member.lastName }}</span>
                <span class="team-list__position">{{ member.position }}</span>
            </div>
        </li>
    </ul>
</div>