@import "~styles/theme/index";
.team-list {
	max-height: 80vh;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	&__item {
		display: grid;
		grid-template-columns: 150px minmax(200px, auto);
		height: 150px;
		transition: all .2s;
		cursor: pointer;
		&:not(:last-of-type) {
			border-bottom: 1px solid darken($gray1, 10%);
		}
		&:hover {
			background-color: transparentize($blue3, .8);
			.team-list__photo, .team-list__no-photo {
				transform: scale(1.1);
			}
			.team-list__name {
				text-decoration: underline;
			}
		}
	}
	&__photo-wrap {
		background-color: darken($gray1, 10%);
		display: flex;
		overflow: hidden;
		height: 100%;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	&__photo {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all .2s;
		object-position: center;
	}
	&__no-photo {
		font-size: 1rem;
		transition: all .2s;
	}
	&__descr {
		height: 100%;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding-left: 20px;
	}
	&__name {
		font-weight: bold;
		font-size: 1.25em;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		width: 100%;
	}
	&__position {
		color: darken($gray1, 30%);
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		width: 100%;
	}
}