<section *ngIf="(isLoading$ | async)" [@fadeIn] class="no-padding">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</section>
<section [@fadeIn] *ngIf="!(isLoading$ | async)">
    <div class="header">
        <button mat-raised-button color="primary" (click)="onCreateTechnology()">
            <mat-icon>add</mat-icon> Add new technology
        </button>

        <mat-form-field class="filter">
            <span matPrefix>
                <mat-icon>search</mat-icon>
            </span>
            <input #search matInput autocomplete="off">
        </mat-form-field>
    </div>

    <div class="g-grid" *ngIf="(technologies$ | async)?.length">
        <technology-editor *ngFor="let technology of technologies$ | async | technologiesFilterPipe:search.value"
            [technology]="technology" (delete)="onDeleteTechnology($event)" (update)="onUpdateTechnology($event)"></technology-editor>
    </div>
</section>