@import "~styles/theme/index";

section {
	padding: 20px;
	&.no-padding {
		padding: 0;
	}
}
.header {
    display: flex;
    justify-content: space-between;

    button {
        height: 40px;
        padding: 0 20px;

        mat-icon {
            margin-right: 10px;
        }
    }

    ::ng-deep .mat-form-field-prefix {
        bottom: -6px;
        margin-right: 4px;
    }
}