$padding: 20px;
section {
	padding: $padding;
	&.no-padding {
		padding: 0;
	}
	.space {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		button {
			height: 40px;
			padding: 0 20px;
	
			mat-icon {
				margin-right: 10px;
			}
		}
    }
    mat-paginator {
        margin-bottom: 20px;
    }
}