<section *ngIf="(isLoading$ | async)" [@fadeIn] class="no-padding">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</section>
<section [@fadeIn] *ngIf="!(isLoading$ | async)">
    <div class="space">
        <button mat-raised-button color="primary" (click)="createProject()">
            <mat-icon>add</mat-icon> Add new book
        </button>
        <div class="search">
            <form autocomplete="off">
                <mat-form-field>
                    <span matPrefix>
                        <mat-icon>search</mat-icon>
                    </span>
                    <input #searchInput (keyup)="onSearch($event)" type="text" matInput>
                </mat-form-field>
            </form>
        </div>
    </div>
    <div class="project-list">

        <mat-paginator #paginator [pageIndex]="(data$ | async).paginator.index" [length]="(data$ | async).booksCount" [pageSize]="(data$ | async).paginator.size" [pageSizeOptions]="pageSizeOptions"
            (page)="onPageChanged($event, paginator)">
        </mat-paginator>

        <mat-accordion>
            <book-info *ngFor="let book of (data$ | async).books" [data]="book" [activeLang]="activeLang$ | async"
                (update)="onProjectChanged($event)" (delete)="onDelete($event)" [technologies]="technologies$ | async"></book-info>
        </mat-accordion>
        <!-- <mat-accordion>
            <book-info *ngFor="let book of books$ | async | filterBooks:searchInput.value" [data]="book" [activeLang]="activeLang$ | async"
                (update)="onProjectChanged($event)" (delete)="onDelete($event)" [technologies]="technologies$ | async"></book-info>
        </mat-accordion> -->

        <!-- <mat-accordion>
			<project-info *ngFor="let project of books$ | async | filterProjects:filter" [data]="project"
			 [activeLang]="activeLang$ | async" (update)="onProjectChanged($event)" (delete)="onDelete($event)" [technologies]="technologies$ | async"></project-info>
		</mat-accordion> -->

    </div>
</section>