<form [formGroup]="form"
      novalidate
      autocomplete="off"
      (submit)="onSubmit()">
    <mat-form-field>
        <input formControlName="lang"
               matInput
               placeholder="Language">

        <mat-error *ngIf="form.controls['lang'].errors && form.controls['lang'].errors.required">
            Required field
        </mat-error>
        <mat-error *ngIf="form.controls['lang'].errors && form.controls['lang'].errors.exist">
            Duplicate language
        </mat-error>
    </mat-form-field>

    <div class="btn-container">
        <button mat-raised-button
                color="primary"
                type="submit">
            Add
        </button>
        <button mat-raised-button
                color="accent"
                type="button"
                mat-dialog-close>
            Cancel
        </button>
    </div>
</form>