@import "~styles/theme/index";
section {
    position: relative;
    .lang {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        background: $white;
        color: $header-color;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        text-transform: uppercase;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    }
    .selector {
        position: absolute;
        top: 40px;
        left: 0;
    }
}
