<section>
    <div #activeLangRef class="lang" (click)="onSelectLanguage()">
        {{activeLanguage}}
    </div>
    <div class="selector" *ngIf="isSelectorVisible" [@fadeInOut]="">
        <div class="lang" *ngFor="let lang of languages | languagesFilterPipe:activeLanguage" (click)="onSetLanguage(lang)">{{lang}}</div>
    </div>
</section>
