<section *ngIf="isLoading$ | async" [@fadeIn] class="no-padding">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</section>
<section [@fadeIn] *ngIf="!(isLoading$ | async)">
    <div class="row space">
        <button mat-raised-button color="primary" (click)="onCreateItem()">
            <mat-icon>add</mat-icon> Add new media item
        </button>
        <div class="search">
            <form autocomplete="off">
                <mat-form-field>
                    <span matPrefix>
                        <mat-icon>search</mat-icon>
                    </span>
                    <input type="text" #search matInput autocomplete="off">
                </mat-form-field>
            </form>
        </div>
    </div>
    <div class="row g-grid">
        <media-item *ngFor="let media of media$ | async | translatorFilterPipe:search.value | slice:pageIndex*pageSize:pageIndex*pageSize + pageSize"
            [data]="media" (update)="onUpdate($event)" (delete)="onDelete($event)"></media-item>
    </div>
    <mat-paginator *ngIf="(media$ | async)?.length && (media$ | async).length > pageSize" #paginator [length]="(media$ | async)?.length"
        [pageSize]="pageSize" (page)="onChangePage($event.pageIndex)"></mat-paginator>
</section>
