<section [@widthInOut]="isVisible ? 'visible' : 'invisible'">
    <div id="menu-outer">
        <div id="menu-inner">
            <div class="img-container" routerLink="/welcome">
                <img src="/assets/img/logo.png" alt="logo">
            </div>

            <div class="menu-item" routerLinkActive="active" routerLink="/translator">
                <mat-icon>translate</mat-icon>
                <p>Translator</p>
            </div>

            <div *ngIf="(languages$ | async)?.length" class="menu-item" routerLinkActive="active" routerLink="/seo">
                <mat-icon>youtube_searched_for</mat-icon>
                <p>SEO Management</p>
            </div>

            <div *ngIf="(languages$ | async)?.length" class="menu-item" routerLinkActive="active" routerLink="/media">
                <mat-icon>perm_media</mat-icon>
                <p>Media</p>
            </div>

            <div class="menu-item" routerLinkActive="active" routerLink="/books">
                <mat-icon>book</mat-icon>
                <p>Books</p>
            </div>

            <div class="menu-item" routerLinkActive="active" routerLink="/team">
                <mat-icon>group</mat-icon>
                <p>Team</p>
            </div>

            <div class="menu-item" routerLinkActive="active" routerLink="/feedback">
                <mat-icon>contact_mail</mat-icon>
                <p>Feedbacks</p>
            </div>

            <div class="menu-item" routerLinkActive="active" routerLink="/technologies">
                <mat-icon>memory</mat-icon>
                <p>Technologies</p>
            </div>
        </div>
    </div>
</section>