@import "~styles/theme/index";

section {
    height: 100vh;
    width: 250px;
    background: $menu-color;

    #menu-outer {
        width: 100%;
        overflow: hidden;
        height: 100%;
    }

    #menu-inner {
        top: 0;
        bottom: 0;
        left: 0;
        right: -17px;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;

        .img-container {
            display: block;
            height: $header-height;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $logo-color;
            border-bottom: 1px solid $menu-color;
            cursor: pointer;

            img {
                width: 80%;
                height: 80%;
                object-fit: contain;
            }
        }

        .menu-item {
            width: 100%;
            height: 50px;
            text-align: center;
            color: $white;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-left: 2px solid transparent;
            font-size: 1.1em;
            transition: .2s ease-in-out;
            cursor: pointer;
            &:not(:last-of-type) {
                margin-bottom: 10px;
            }

            &:hover {
                background: lighten($menu-color, 5%);
            }

            p {
                width: 100%;
                text-align: left;
            }

            mat-icon {
                margin: 0 15px 0 10px;
                width: 20px;
            }

            &.active,
            &.active:hover {
                border-left: 2px solid $white;
                background: $menu-active-color;
            }

            &.parent {
                margin-bottom: 0;

                &.no-interactive {
                    * {
                        cursor: default;
                    }

                    &:hover {
                        background: initial;
                    }
                }
            }

            &.child {
                cursor: pointer;
                padding-left: 45px;
            }
        }
    }
}
