.dialog-container {
    position: relative;
    .dialog-content {
        padding-bottom: 20px;
    }
    .btn-container {
        display: flex;
        flex-direction: row;
        button {
            &:first-child {
                margin-right: 10px;
            }
        }
    }
}