<div class="dialog-container">
    <h2 mat-dialog-title>{{title}}</h2>
    <div class="dialog-content">{{content}}</div>
    <div class="btn-container">
        <button mat-raised-button color="primary" [mat-dialog-close]="value || true">Yes</button>
        <button mat-raised-button color="accent" mat-dialog-close>No</button>
    </div>
</div>