@import "~styles/theme/index";
section {
    display: flex;
    width: 100vw;
    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        .content-container {
            height: calc(100vh - #{$header-height});
            width: 100%;
            overflow: auto;
            overflow-y: scroll;
            // padding: 20px;
        }
    }
}