<section>
    <side-nav #sideNav></side-nav>
    <div>
        <top-nav (onToggleMenu)="sideNav.toggle()"></top-nav>
        <div #container class="content-container">
            <ng-content></ng-content>
        </div>
    </div>
</section>
