<section>
    <div class="left-block">
        <button mat-button (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div class="right-block">
        <language-picker *ngIf="isLanguagesSelectorEnabled$ | async" [languages]="languages$ | async" [activeLanguage]="activeLanguage$ | async"
            (change)="onLanguageChange($event)"></language-picker>
        <button mat-button matTooltip="Logout" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
</section>