@import "~styles/theme/index";
section {
    z-index: 1;
    position: relative;
    height: $header-height;
    background: $header-color;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: $white;
    .mat-button {
        padding: 0;
        width: 36px;
        min-width: inherit;
        &:not(:last-of-type) {
            margin-right: 20px;
        }
    }
    .left-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .right-block {
        display: flex;
        align-items: center;
        language-picker {
            margin-right: 20px;
        }
    }
}
