.wrapper {
	margin: 0 -20px;
	.upload-button {
		&.hidden {
			display: none;
		}
	}
	.form {
		display: flex;
		&__toggle {
			margin-top: 20px;
		}
		&__photo {
			cursor: pointer;
			width: 100%;
			height: 97px;
			margin: auto;
			object-fit: cover;
			&:hover {
				filter: brightness(.8);
			}
		}
		&__field {
			width: calc(25% - 40px);
			margin: 0 15px;
			&_50 {
				width: 50%;
			}
			&_column {
				flex-direction: column;
				display: flex;
				>* {
					width: 100%;
				}
			}
			&_center {
				justify-content: center;
			}
		}

		&__textarea {
			height: 76px;
			resize: none;
		}
	}
}