<div class="wrapper">
	<form [formGroup]="form" *ngIf="form" class="form">
		<div class="form__field form__field_column form__field_center" [style.width.%]="10">
			<div class="upload-button" [class.hidden]="form.get('photo')?.value">
				<bookstore-upload-button [supportedFormats]="imgTypes" tooltip="Add reviewer photo" folder="projects" icon="add_a_photo"
				 color="#1d496c" (onFileChanged)="uploadImage($event)" #uploader>
				</bookstore-upload-button>
			</div>
			<img [src]="form.get('photo')?.value | apiUrl" alt="Reviewer photo" class="form__image" *ngIf="form.get('photo')?.value"
			 class="form__photo" (click)="uploader.select()">
			<mat-slide-toggle formControlName="showOnSite" color="primary" class="form__toggle">Show at home</mat-slide-toggle>
		</div>
		<div class="form__field form__field_column" [style.width.%]="40">
			<mat-form-field>
				<input type="text" matInput formControlName="name" placeholder="Reviewer name" [maxlength]="40">
				<mat-error>{{ form.get('name')?.errors | formError }}</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input type="text" matInput formControlName="position" placeholder="Position" [maxlength]="30">
				<mat-error>{{ form.get('position')?.errors | formError }}</mat-error>
			</mat-form-field>
		</div>
		<mat-form-field class="form__field form__field_50">
			<textarea matInput formControlName="comment" placeholder="Comment" class="form__textarea"></textarea>
			<mat-error>{{ form.get('comment')?.errors | formError }}</mat-error>
		</mat-form-field>
	</form>
</div>