@import "~styles/theme/index";

.language-editor-container {
    padding: 20px 20px 0 20px;

    button {
        height: 40px;
        padding: 0 20px;
        margin-bottom: 20px;

        mat-icon {
            margin-right: 10px;
        }
    }

    mat-card {
        display: flex;
        flex-direction: column;
        h3 {
            color: $blue3;
            flex-basis: 100%;
            text-transform: uppercase;
            font-weight: bold;
            position: relative;
            margin-bottom: 20px;
        }
        .lang-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .lang {
                position: relative;
                background: #1d496c;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                border-radius: 50%;
                cursor: pointer;
                &:not(:last-of-type) {
                    margin-right: 20px;
                }
                &.primary {
                    width: 50px;
                    height: 50px;
                    font-size: 1.3em;
                    background: $red;
                    cursor: default;
                }
            }
        }
       
    }

}

.header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    height: 80px;

    button {
        height: 40px;
        padding: 0 20px;

        mat-icon {
            margin-right: 10px;
        }
    }

    ::ng-deep .mat-form-field-prefix {
        bottom: -6px;
        margin-right: 4px;
    }
}

.dictionary-table {
    padding: 0 20px;
    width: 100%;
    margin-bottom: 20px;
    
    mat-row {
        cursor: pointer;

        &:hover {
            background-color: #efecec;
        }
    }

    .mat-column-delete {
        max-width: 60px;
    }
}
