<section *ngIf="(isLoading$ | async)" [@fadeIn] class="no-padding">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</section>
<section [@fadeIn] *ngIf="!(isLoading$ | async)">
    <ng-template [ngIf]="languages$  | async">
        <div class="language-editor-container">
            <mat-card>
                <h3>Languages</h3>
                <div class="lang-container">
                    <div class="lang {{i === 0 && 'primary'}}" *ngFor="let lang of languages$ | async; let i=index"
                        (click)="onDeleteLanguage(lang, i)">
                        <span>{{lang}}</span>
                    </div>
                    <div class="lang" (click)="onCreateLanguage()" matTooltip="Add new language">
                        <mat-icon>add</mat-icon>
                    </div>
                </div>
            </mat-card>
        </div>
    </ng-template>

    <ng-template [ngIf]="(languages$  | async)?.length">
        <div class="header">
            <button mat-raised-button color="primary" (click)="onCreateItem()">
                <mat-icon>add</mat-icon> Add new translation
            </button>

            <mat-form-field class="filter">
                <span matPrefix>
                    <mat-icon>search</mat-icon>
                </span>
                <input #search matInput autocomplete="off">
            </mat-form-field>
        </div>

        <div class="dictionary-table" *ngIf="(dictionary$ | async)?.length">
            <mat-table [dataSource]="dictionary$ | async | translatorFilterPipe:search.value" class="mat-elevation-z8">

                <ng-container matColumnDef="key">
                    <mat-header-cell *matHeaderCellDef> Key </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.key}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="value">
                    <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.values | translatorActiveValue:(activeLanguage$ |
                        async)}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-icon (click)="onDeleteItem(element._id, $event)">close</mat-icon>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onEditItem(row)"></mat-row>
            </mat-table>
        </div>
    </ng-template>
</section>