<div class="wrapper">
	<form autocomplete="off" [formGroup]="form">
		<mat-form-field class="field w50">
			<textarea class="field__area" type="text" matInput placeholder="Project results" formControlName="text"></textarea>
		</mat-form-field>
	
		<mat-form-field class="field w25">
			<textarea class="field__area" type="text" matInput placeholder="Team" formControlName="team"></textarea>
		</mat-form-field>
	
		<div class="field column w25">
			<mat-form-field>
				<input matInput [matDatepicker]="startDate" placeholder="Start date" formControlName="timeStart">
				<mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
				<mat-datepicker #startDate></mat-datepicker>
			</mat-form-field>
			<mat-form-field>
				<input matInput [matDatepicker]="endDate" placeholder="End date" formControlName="timeEnd">
				<mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
				<mat-datepicker #endDate></mat-datepicker>
			</mat-form-field>
		</div>
	</form>
</div>