.wrapper {
	margin: 0 20px;
	form  {
		display: flex;
		flex-wrap: wrap;
		.field {
			width: calc(100% - 20px);
			margin: 0 10px;
			&__area {
				min-height: 76px;
				resize: none;
			}
		}
		.w25 {
			width: calc(25% - 20px);
		}
		.w50 {
			width: calc(50% - 20px);
		}
		.column {
			flex-direction: column;
			display: flex;
		}
	}
}