@import "~styles/theme/index";
:host {
    display: block;
    height: 100%;
}
.select-button__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: perspective(1px);
    div {
        width: 100%;
        height: 100%;
    }
    mat-icon {
        cursor: pointer;
        font-size: 32px;
        width: 32px;
        height: 32px;
    }
    .loader {
        @include loader(4px, 30px);
    }
}

#uploader {
    display: none;
}