<div class="select-button__container">
    <div *ngIf="!icon && !isUploading" (click)="select()">
        <ng-content></ng-content>
    </div>
    <mat-icon [matTooltip]="tooltip" [style.color]="color" *ngIf="icon && !isUploading" (click)="select()">{{ icon }}</mat-icon>
    <div *ngIf="isUploading" class="loader"></div>
</div>
<input id="uploader" #fileSelector type="file" [accept]="supportedFormats | fileEnumKey:true" (change)="loadFile($event)">