.map-field {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .image-wrap {
        max-width: 700px;
        width: 100%;
        min-width: 50%;
        position: relative;
        margin: auto;
    }
    .image {
		max-width: 100%;
		height: auto;
		user-select: none;
        cursor: not-allowed;
        &.cursor {
            cursor: url(/assets/img/pin.png), auto;
        }
    }
    .pin {
        position: absolute;
        cursor: pointer;
		z-index: 1;
		width: 32px;
		height: 32px;
        &__image {
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 1;
		}
		&::before {
			content: '';
			position: absolute;
			z-index: 0;
			left: -25%;
			top: -25%;
			opacity: 0;
			width: 150%;
			height: 150%;
			border-radius: 10em;
			background-color: transparentize(#D63E30, .2);
		}
		&.anim {
			&::before {
				animation: size .5s ease-in-out forwards;
			}
		}
    }
}

@keyframes size {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	50% {
		transform: scale(.5);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}