<div class="map-field">
    <div class="image-wrap">
        <img #map [src]="mapImage" alt="map" class="image" (mousedown)="onClick($event)" [class.cursor]="!disabled">
        <div class="pin" (click)="unpin.emit()" [style.left.%]="coords.x" *ngIf="coords" [style.top.%]="coords.y"
         [class.anim]="isPinAnim" matTooltip="Unpin">
            <img src="/assets/img/pin.png" class="pin__image">
        </div>
    </div>
</div>