$fhd-width: 1920px;
$hd-width: 1920px;
$tab-width: 1024px;
$tel-width: 768px;
@mixin fhd {
    @media (min-width: #{$fhd-width}) {
        @content;
    }
}

@mixin hd {
    @media (max-width: #{$hd-width}) {
        @content;
    }
}

@mixin tab {
    @media (max-width: #{$tab-width}) {
        @content;
    }
}

@mixin tel {
    @media (max-width: #{$tel-width}) {
        @content;
    }
}
