@mixin shadow {
	box-shadow: 0 4px 20px rgba(0,0,0,.15);
}

@mixin loader($border: 10px, $size: 40px, $bg: #1d496c) {
    height: $size;
    width: $size;
    border: $border solid lighten($bg, 30%);
    border-top: $border solid $bg;
    border-radius: 50%;
    cursor: default;
    transform: perspective(1px);
    perspective: 1px;
    animation: preloader-rotate 1s infinite linear;
    @keyframes preloader-rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}