// COLORS
$white: #fff;
$black: #000;
$blue1: #2196f3;
$blue2: #1d496c;
$blue3: #5f6f8a;
$gray1: #efecec;
$red: #e53a3a;

$bg-color: $gray1;
$header-color: $blue2;
$menu-color: $blue2;
$menu-active-color: $blue3;
$logo-color: $bg-color;
$header-height: 70px;