form {
    width: 100%;
    padding: 0 20px;
    .field {
        width: 100%;
        &__area {
            resize: none;
            min-height: 80px;
        }
    }
    /deep/ mat-tab-group {
        mat-tab-header {
            display: none;
        }
        .mat-tab-body-content {
            height: 200px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            button {
                position: absolute;
                top: 0;
                right: 0;
            }
            img {
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .upload-button {
        display: block;
        width: 30px;
        height: 30px;
    }
    .gallery-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .icon-button {
            width: 40px
        }
        mat-tab-group {
            width: 100%;
        }
    }
}