<form autocomplete="off" [formGroup]="form">
    <div class="upload-button">
        <bookstore-upload-button [supportedFormats]="imgTypes" tooltip="Add gallery image" folder="projects" icon="add_a_photo" color="#1d496c" (onFileChanged)="uploadGallery($event)">
        </bookstore-upload-button>
    </div>
    <div class="gallery-block" *ngIf="form.get('images').value?.length">
        <button type="button" matTooltip="Previous slide" mat-icon-button class="icon-button" (click)="prevSlide()">
            <mat-icon color="accent">keyboard_arrow_left</mat-icon>
        </button>
        <mat-tab-group (selectedIndexChange)="slideChanged($event)" [selectedIndex]="currentSlide">
            <mat-tab *ngFor="let imageUrl of form.get('images').value; let i = index">
                <img [src]="imageUrl | apiUrl" alt="image" (swipeleft)="swipe($event)" (swiperight)="swipe($event)">
                <button type="button" matTooltip="Remove this image " mat-icon-button class="icon-button" (click)="removeGalleryImage(i)">
                    <mat-icon color="primary">delete</mat-icon>
                </button>
            </mat-tab>
        </mat-tab-group>
        <button type="button" matTooltip="Next slide" mat-icon-button class="icon-button" (click)="nextSlide()">
            <mat-icon color="accent">keyboard_arrow_right</mat-icon>
        </button>
    </div>
</form>